<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>

<h2>회원가입</h2>
<form th:action="@{/joinUser}" th:object="${joinForm}" method="post">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p class="error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">
            전체 오류 메세지
        </p>
    </div>
    <div><label> User Name : <input type="text" th:field="*{userId}"/> </label></div>
    <p class="error" th:errors="*{userId}">userId error</p>
    <div><label> Password: <input type="password" th:field="*{password}"/> </label></div>
    <p class="error" th:errors="*{password}">password error</p>
    <div><input type="submit" value="Sign Up"/></div>
</form>
</body>
</html>