<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="~{layout/layoutFile :: layout (~{::title},~{::body},~{::link},~{::script})}">
<head>
    <title>로그인</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <script></script>
</head>
<body class="text-center">
<div id="container">
    <div id="loginBox">
        <div id="loginBoxTitle">EventLink 로그인</div>
        <div id="inputBox">
            <form th:action="@{/login}" method="post">
                <div class="input-form-box"><span>아이디 </span><input type="text" name="memberId" class="form-control">
                </div>
                <div class="input-form-box"><span>비밀번호 </span><input type="password" name="password" class="form-control">
                </div>
                <div class="button-login-box">
                    <button class="btn btn-primary btn-xs" type="submit" style="width: 100%">로그인</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>